<nz-content>
  <div style="line-height: 30px;margin: 10px;border-left: 2px #ccc solid;border-top: 2px #ccc solid">
    <div style="margin: 20px;">
      <div style="margin: 5px;">
      <span style="font-size: 20px;font-weight: 400;">
        <h2>
          {{tittle}}
        </h2>
      </span>
      </div>
      <div>
        <span>弹出一个下拉菜单给用户选择操作，用于代替原生的选择器，或者需要一个更优雅的多选器时</span>
      </div>
      <div style="margin: 20px 0">
        <form nz-form [nzType]="'horizontal'" [formGroup]="validateForm">
          <div class="tittle">
            <h3><span></span>选择器基础设置</h3>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="3">
              <label nz-form-item-required>选择器前显示的内容</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="8" nzHasFeedback>
              <nz-input nzType="text" formControlName="selectTittle" name="selectTittle"
                        nzPlaceHolder="请输入选择器前显示的内容"></nz-input>
            </div>
            <div nz-form-item>
              <div nz-form-label nz-col [nzSpan]="3">
                <label nz-form-item-required>选择器大小</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="8" nzHasFeedback>
                <nz-select formControlName="selectSize" [(ngModel)]="selectSize" nzPlaceHolder="选择大小">
                  <nz-option nzValue="large" nzLabel="large 32px"></nz-option>
                  <nz-option nzValue="default" nzLabel="default 28px"></nz-option>
                  <nz-option nzValue="small" nzLabel="small 22px"></nz-option>
                </nz-select>
              </div>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="3">
              <label nz-form-item-required>选择器前文字所占宽度</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="8" nzHasFeedback>
              <nz-input nzType="text" formControlName="selectLabelSpan" name="selectLabelSpan"
                        nzPlaceHolder="文字所用宽度（1-12）"></nz-input>
            </div>
            <div nz-form-item>
              <div nz-form-label nz-col [nzSpan]="3">
                <label nz-form-item-required>选择器所占宽度</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="8">
                <nz-input nz-Type="text" formControlName="selectSpan" name="selectSpan"
                          nzPlaceHolder="选择框所占宽度（1-12）"></nz-input>
              </div>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="3">
              <label nz-form-item-required>组件标识</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="8">
              <nz-input nz-Type="text" formControlName="selectName" name="selectName"
                        nzPlaceHolder="formControlName"></nz-input>
            </div>
            <div nz-form-label nz-col [nzSpan]="3">
              <label nz-form-item-required>下拉数据List变量名</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="8">
              <nz-input nz-Type="text" formControlName="SelectOptions" name="SelectOptions"
                        nzPlaceHolder="请输入下拉菜单名称"></nz-input>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="3">
              <label nz-form-item-required>后端接口变量名</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="8">
              <nz-input nzType="text" formControlName="selectUrlName" name="selectUrlName"
                        nzPlaceHolder="请输入接口变量名"></nz-input>
            </div>
            <div nz-form-label nz-col [nzSpan]="3">
              <label nz-form-item-required>后端接口地址</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="8">
              <nz-input nzType="text" formControlName="selectUrl" name="selectUrl" nzPlaceHolder="请输入后端接口地址"></nz-input>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="3">
              <label nz-form-item-required>获取下拉菜单方法名</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="8">
              <nz-input nzType="text" formControlName="selectFunctionName" name="selectFunctionName"
                        nzPlaceHolder="请输入方法名"></nz-input>
            </div>
            <div nz-form-item>
              <div nz-form-label nz-col [nzSpan]="3">
                <label nz-form-item>下拉列表为空时显示的内容</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="8" nzHasFeedback>
                <nz-input [nzSize]="'default'" nzType="text" formControlName="selectNotData" name="selectNotData"
                          nzPlaceHolder="nzNotFoundContent">
                </nz-input>
              </div>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="3">
              <label nz-form-item-required>选项Label</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="8" nzHasFeedback>
              <nz-input [nzSize]="'default'" nzType="text" formControlName="selectOptionLabel" name="selectOptionLabel"
                        nzPlaceHolder="selectOptionLabel的值">
              </nz-input>
            </div>
            <div nz-form-item>
              <div nz-form-label nz-col [nzSpan]="3">
                <label nz-form-item-required>选项Value</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="8" nzHasFeedback>
                <nz-input [nzSize]="'default'" nzType="text" formControlName="selectOptionValue"
                          name="selectOptionValue" nzPlaceHolder="selectOptionValue的值">
                </nz-input>
              </div>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="3">
              <label nz-form-item-required>是否多选</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="8" nzHasFeedback>
              <nz-select formControlName="selectIsMultiple" nzPlaceHolder="选择是否多选">
                <nz-option nzValue="0" nzLabel="是"></nz-option>
                <nz-option nzValue="1" nzLabel="否"></nz-option>
              </nz-select>
            </div>
            <div nz-form-item *ngIf="isShowClear">
              <div nz-form-label nz-col [nzSpan]="3">
                <label nz-form-item-required>是否可以清除已选选项</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="8" nzHasFeedback>
                <nz-select formControlName="selectIsClear" nzPlaceHolder="选择是否可以清除已选选项">
                  <nz-option nzValue="0" nzLabel="是"></nz-option>
                  <nz-option nzValue="1" nzLabel="否"></nz-option>
                </nz-select>
              </div>
            </div>
          </div>

          <div class="tittle">
            <h3><span></span>输入框进阶设置</h3>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="3">
              <label nz-form-item-required>选择器的Placeholder</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="8">
              <nz-input nzType="text" formControlName="selectPlaceHolder" name="selectPlaceHolder"
                        nzPlaceHolder="请输入选择器的Placeholder显示内容"></nz-input>
            </div>
            <div nz-form-label nz-col [nzSpan]="3">
              <label nz-form-item-required>选择器是否独占一行</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="8">
              <nz-select formControlName="selectNzRow" nzPlaceHolder="是否独占一行">
                <nz-option nzValue="0" nzLabel="是"></nz-option>
                <nz-option nzValue="1" nzLabel="否"></nz-option>
              </nz-select>
            </div>
          </div>

          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="3">
              <label nz-form-item>是否可以搜索</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="8">
              <nz-select formControlName="selectSearch" nzPlaceHolder="是否可以搜索">
                <nz-option nzValue="1" nzLabel="是"></nz-option>
                <nz-option nzValue="0" nzLabel="否"></nz-option>
              </nz-select>
            </div>
            <div nz-form-label nz-col [nzSpan]="3">
              <label nz-form-item>下拉菜单打开关闭回调函数的名称</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="8" nzHasFeedback>
              <nz-input [nzSize]="'default'" nzType="text" formControlName="selectOpenFunction"
                        name="selectOpenFunction" nzPlaceHolder="nzOpenChange">
              </nz-input>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="3">
              <label nz-form-item>是否是必填选项</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="8">
              <nz-select formControlName="selectRequire" nzPlaceHolder="是否是必填选项">
                <nz-option nzValue="1" nzLabel="是"></nz-option>
                <nz-option nzValue="0" nzLabel="否"></nz-option>
              </nz-select>
            </div>
            <div nz-form-item>
              <div nz-form-label nz-col [nzSpan]="3">
                <label nz-form-item>搜索时是否显示匹配选项</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="8">
                <nz-select formControlName="selectFilter" nzPlaceHolder="是否只显示匹配选项">
                  <nz-option nzValue="1" nzLabel="是"></nz-option>
                  <nz-option nzValue="0" nzLabel="否"></nz-option>
                </nz-select>
              </div>
            </div>
          </div>


          <!--test-->


          <!--test-->
          <div class="tittle">
            <h3><span></span>代码生成</h3>
          </div>
          <div>
            <h4>HTML文件代码</h4>
          </div>
          <div style="border: #48c2a5 1px solid">
            <div style="margin-left: 15px;">
              <div>&lt;div nz-form-item <span>{{selectNzRowValue}}</span>&gt;</div>
              <div> &lt;div nz-form-label nz-col [nzSpan]="<span>{{validateForm.get('selectLabelSpan').value}}</span>"&gt;
              </div>
              <div> &lt;label nz-form-item<span>{{selectRequireValue}}</span>&gt;<span>{{validateForm.get('selectTittle').value}}</span>&lt;/label&gt;
              </div>
              <div> &lt;/div&gt;</div>
              <div> &lt;div nz-form-control nz-col [nzSpan]="<span>{{validateForm.get('selectSpan').value}}</span>"&gt;
              </div>
              <div> &lt;nz-select</div>
              <div> [nzMode]="'<span>{{selectIsMultipleValue}}</span>'"</div>
              <div> [nzPlaceHolder]="'<span>{{validateForm.get('selectPlaceHolder').value}}</span>'"</div>
              <div *ngIf="isShowClear"><span *ngIf="isClear">nzAllowClear</span></div>
              <div> [(ngModel)]="<span>{{validateForm.get('selectName').value}}</span>"</div>
              <div *ngIf="validateForm.get('selectOpenFunction').value"> (nzOpenChange)="<span>{{validateForm.get('selectOpenFunction').value}}()</span>"
              </div>
              <div> [nzNotFoundContent]="'<span>{{validateForm.get('selectNotData').value}}</span>'"</div>
              <div *ngIf="validateForm.get('selectSearch').value"> [nzShowSearch]="<span>{{selectSearchValue}}</span>"
              </div>
              <div *ngIf="validateForm.get('selectFilter').value"> [nzFilter]="<span>{{selectFilterValue}}</span>"</div>
              <div> formControlName='<span>{{validateForm.get('selectName').value}}</span>'&gt;</div>
              <div> &lt;nz-option *ngFor="let option of <span>{{validateForm.get('SelectOptions').value}}</span>"</div>
              <div> [nzLabel]="option?.<span>{{validateForm.get('selectOptionLabel').value}}</span>"</div>
              <div> [nzValue]="option?.<span>{{validateForm.get('selectOptionValue').value}}</span>"&gt;</div>
              <div> &lt;/nz-option&gt;</div>
              <div> &lt;/nz-select&gt;</div>
              <div> &lt;/div&gt;</div>
              <div>&lt;/div&gt;</div>
            </div>
          </div>

          <div>
            <h4>HTML文件代码</h4>
          </div>
          <div style="border: #48c2a5 1px solid">
            <div style="margin-left: 15px;">
              <div>/***成员变量***/</div>
              <div><span>private {{validateForm.get('selectUrlName').value}}</span>= '<span>{{validateForm.get('selectUrl').value}}</span>';
              </div>
              <div><span>public {{validateForm.get('SelectOptions').value}}</span>= [];</div>
              <div>/***获取数据函数***/</div>
              <div><span>{{validateForm.get('selectFunctionName').value}}</span>() {{'{'}}</div>
              <div>{{'}'}}</div>
            </div>
          </div>

        </form>
        <!--<p>{{validateForm.value | json}}</p>-->
      </div>

    </div>
  </div>
</nz-content>
