<nz-content>
  <div style="line-height: 30px;margin: 10px;border-left: 2px #ccc solid;border-top: 2px #ccc solid">
    <div style="margin: 20px;">
      <div style="margin: 5px;">
      <span style="font-size: 20px;font-weight: 400;">
        <h2>{{tittle}}</h2>
      </span>
      </div>
      <div>
        <span>这里是 Ant Design 和 Angular 实现。</span>
      </div>
      <div style="display: inline-block;border-bottom: #cccccc 1px solid;width:100%">
        <img style="vertical-align:middle;width: 150px;"
             src="https://gw.alipayobjects.com/zos/rmsportal/KDpgvguMpGfqaHPjicRK.svg">
        <span style="font-size: 30px;color: #aaa;margin: 0 20px;">+</span>
        <img style="vertical-align:middle;width: 180px;"
             src="https://angular.cn/assets/images/logos/angular/angular.svg">
        <span style="font-size: 30px;color: #aaa;margin: 0 20px;">=</span>
        <span style="font-size: 30px">Leaf</span>
      </div>
      <div style="margin: 20px 0;width: 100%;border-bottom: #cccccc 1px solid;">
        <div><span style="font-size: 20px;">特性</span></div>
        <li><span style="font-size: 14px;">快速构建页面</span></li>
        <li><span style="font-size: 14px;">从项目中获得的</span></li>
      </div>
      <div style="margin: 20px 0;border-bottom: #cccccc 1px solid;">
        <div><span style="font-size: 20px;">所用的组件</span></div>
        <li><span style="font-size: 14px;">Angular 4.x</span></li>
        <li><span style="font-size: 14px;">Ant Design 6.x</span></li>
        <li><span style="font-size: 14px;">Echarts 4.1</span></li>
        <li><span style="font-size: 14px;">Font-Awesome 4.7.0</span></li>
        <li><span style="font-size: 14px;">ng2-dragula 1.5.0</span></li>
      </div>
    </div>
  </div>
</nz-content>
